.modia-logo {
    margin: 0;
    padding: 0;
    font-size: 1em;

    a {
        display: inline-block;
        border: 0;
    }

    svg {
        vertical-align: middle;
        display: inline-block;
        width: 1.5em;
        height: 1.5em; 
    }
}

.modia-hode {
    padding: 1em;
    background-color: @modia-svart;
    position: relative;
}