.dekorator {
    font-size: 100%;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.15;
}
.dekorator .modal__overlay {
    z-index: 5000;
}
.dekorator .modal {
    z-index: 5010;
}
.decorator-context-modal {
    padding: 12px 24px;
    /* Removed this because it modal deafult heading had darker color */
    /*color: #3e3832;*/
}
.decorator-context-modal__footer {
    display: flex;
    justify-content: end;
    border-top: 1px solid #b7b1a9;
    padding: 1.1rem 0rem 0rem 0rem;
}
.decorator-context-modal__footer .navds-button:not(:last-child) {
    margin-right: 0.75rem;
}
* {
    box-sizing: border-box;
}
.typo-normal {
    font-size: 1em;
}
h1.typo-element {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    margin-left: 0.7em;
}
h1.typo-element.dekorator__tittel {
    margin: 0.67em 0 0.67em 0.7em;
}
h1.typo-avsnitt,
h2.typo-avsnitt,
p.typo-avsnitt {
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: normal;
}
a,
a:visited {
    color: #fff;
}
.dekorator__container {
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
}
.dekorator__knapp {
    color: #fff;
    background: #66cbec;
    border: 1px solid #19548a;
    line-height: 1;
    padding: 10px 20px;
    display: inline-block;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
