@import (reference) '~nav-frontend-core/less/core';
@import (reference) '_hode';

.dekorator__feilmelding {
    padding: 1em;
    background-color: @navDekoratorError;
}

.dekorator__feilmelding__tekst {
    text-align: center;
    display: block;
    font-size: 1em;
    color: @white;
    font-style: italic;
}

.dekorator__feilmelding__banner {
    display: block;
}
