.dekorator__feilmelding {
  padding: 1rem;
  background-color: #ba3a26;
  display: none;
}

.dekorator__fnrfeilmelding {
  text-align: center;
  display: block;
  font-size: 1em;
  color: white;
  font-style: italic;
}

.dekorator__feilmelding__banner {
  display: block;
}