.dekorator__hode {
    padding: 16px; 
    background-color: @dekorator-svart;
    position: relative;
    color: #fff;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        display: inline-block;
    }
}

.dekorator__hode__logo {
    line-height: 2;
    display: flex; 
    width: auto;
    text-decoration: none;
    align-items: center;
    border: 0;

    svg {
        vertical-align: middle;
        display: inline-block;
        height: 32px;
        margin-right: 1em;
    }
}

.dekorator__hode__tittel {
    font-weight: 400;
    font-family: Modus, Arial, Helvetica;
    display: inline-block;
    color: #fff;
    border-left: 2px solid #fff;
    padding-left: 1em;
    font-size: 20px;
    height: 32px;
    line-height: 32px;
}