.dekorator__hode {
    padding: 16px; 
    background-color: @dekorator-svart;
    font-family: Arial, Helvetica, Sans-serif;
    position: relative;
    color: #fff;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        display: inline-block;
    }
}

.dekorator__hode__logo {
    line-height: 2;
    display: flex; 
    width: auto;
    text-decoration: none;
    align-items: center;
    border: 0;

    svg {
        vertical-align: middle;
        display: inline-block;
        height: 32px;
        width: 50px;
        margin-right: 1em;
    }
}

.dekorator__hode__tittel {
    font-weight: 400;
    display: inline-block;
    color: #fff;
    border-left: 2px solid #fff;
    padding-left: 1em;
    font-size: 20px;
    height: 32px;
    line-height: 32px;
}

.dekorator__hode__toggleMeny {
    border: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    background-color: transparent;
    text-transform: uppercase;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px @dekorator-fokus;
    }
}

.dekorator__banner {
    display: flex;
    height: 2em;

    h1 {
        flex: 1;
    }
}