.dekorator__nav {
    height: 0;
    overflow: hidden;
    transform: translateZ(0);
    transition: height 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    background-color: @dekorator-svart;
}

.dekorator__nav--apen {
    height: auto;
    overflow: visible;
}

.dekorator__meny {
    padding-top: 4em;
    padding-bottom: 4em;
    line-height: 1.5;

    h2 {
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 0;
    }

    a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid @inaktivGraa;
    }

    a:hover {
        border-bottom-color: #fff;
    }

    a:focus {
        border-bottom-color: @fokusOrange;
    }

    li {
        margin-bottom: .5em;
    }

    ul, li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}