.dekorator__nav {
    max-height: 0;
    overflow: hidden;
    transform: translateZ(0);
    background-color: @navMorkGra;
    transition: max-height 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.dekorator__nav--apen {
    max-height: 210px;
    overflow-y: hidden;
}

.dekorator__meny {
    padding: 1em 0 2em;
    line-height: 1.5;
    a {
        display: block;
        padding: 0.3rem 0.7rem 0.3rem 1.4rem;
        color: @white;
        text-decoration: none;
        &:hover {
            color: @navLysBla;
            &:before {
                @circle-width: 7px;
                width: @circle-width;
                height: @circle-width;
                margin-right: -@circle-width;
                background: @navLysBla;
                border-radius: 100%;
                display: inline-block;
                content: "";
                left: -15px;
                position: relative;
                margin-bottom: 2px;
            }
        }
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 2px @orangeFocus;
        }
    }
    ul, li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}
