@import '_variabler.less';

body {
    margin: 0;
    padding: 0;
    background-color: @dekorator-bakgrunn;
}

.dekorator {
    font-size: 100%; // 1em === 16px
    color: #fff;
    font-family: Arial, Sans-serif;

    // Namespacer dette slik at vi ikke styler elementer utenfor dekoratøren
    @import "_normalize.less";
    @import "_hode.less";
    @import "_meny.less";


    a {
        color: #fff;   
    }

    a:focus {
        background-color: @fokusOrange;
        color: @dekorator-svart;
        outline: none;  
    }

    .dekorator__container {
        max-width: 60em;
        margin-right: auto;
        margin-left: auto;
    }
}