@import url('../../styles/nav-frontend.css');

.hurtigtaster-meny-button {
    background: none;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
    margin-right: 0.75em;
    padding: 0;
}
.hurtigtaster-meny-button:hover {
    background-color: white;
    color: black;
}
.hurtigtaster-meny-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ffbd66;
}
.hurtigtaster-ikon {
    font-size: 1.4em;
    pointer-events: none;
}
.hurtigtaster-modal {
    color: #3e3832;
    min-width: 23em;
}
.hurtigtaster-tabell-outline {
    border: 1px solid #b7b1a9;
    border-radius: 4px;
}
.hurtigtaster-tabell {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}
.hurtigtaster-tabell thead {
    border-bottom: 3px solid #b7b1a9;
    font-weight: 600;
}
.hurtigtaster-tabell th,
.hurtigtaster-tabell td {
    padding: 0.7em;
}
.hurtigtaster-tabell tr:nth-child(2n) {
    background-color: #e9e7e7;
}
