@import url('../styles/nav-frontend.css');

.dekorator__hode {
    padding: 0.3em;
    background-color: #3e3832;
    position: relative;
    color: #fff;
}
.dekorator__hode__toggleMeny_wrapper {
    display: flex;
    justify-content: flex-end;
}
.dekorator__hode__button {
    border: 0;
    margin: 0;
    padding: 0 2.25em 0 0;
    color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 1em;
    background-color: transparent;
    position: relative;
    transition: color 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.dekorator__hode__button:before {
    content: '';
    border-left: 1px solid #fff;
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    border-top: 1px solid #fff;
    transform: rotate(-135deg);
    right: 14px;
}
.dekorator__hode__button:hover {
    color: #66cbec;
}
.dekorator__hode__button:hover:after,
.dekorator__hode__button:hover:before {
    border-color: #66cbec;
}
.dekorator__hode__button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #ffbd66;
}
.dekorator__hode__toggleMeny {
    font-size: 0.875em;
    border: 0;
    margin: 0;
    padding: 0 2.25em 0 0;
    color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 1em;
    background-color: transparent;
    position: relative;
    transition: color 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    border-left: 1px solid #b7b1a9;
    padding-left: 0.7em;
}
.dekorator__hode__toggleMeny:before {
    content: '';
    border-left: 1px solid #fff;
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    border-top: 1px solid #fff;
    transform: rotate(-135deg);
    right: 14px;
}
.dekorator__hode__toggleMeny:hover {
    color: #66cbec;
}
.dekorator__hode__toggleMeny:hover:after,
.dekorator__hode__toggleMeny:hover:before {
    border-color: #66cbec;
}
.dekorator__hode__toggleMeny:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #ffbd66;
}
.dekorator__hode__toggleMeny--apen:before {
    top: 14px;
    transform: rotate(45deg);
}
.dekorator__banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.dekorator__banner > * {
    flex-grow: 1;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
