@import url('../styles/nav-frontend.css');

.dekorator__sokefelt {
    position: relative;
}
.dekorator__sokefelt__input {
    position: relative;
    background-color: #282624;
    border-radius: 2px;
    margin-right: 0.7em;
    padding: 0.5em 2em 0.5em 0.5em;
    width: 10.5em;
    top: -0.125em;
    border: 1px solid #7f756c;
    margin-top: 1px;
    font-size: 0.875em;
    color: #fff;
}
.dekorator__sokefelt__input:hover {
    box-shadow: 0 0 0 2px #66cbec;
    outline: none;
    background-color: #fff;
    color: #3e3832;
}
.dekorator__sokefelt__input:focus {
    box-shadow: 0 0 0 2px #ffbd66;
    outline: none;
    background-color: #fff;
    color: #3e3832;
}
.dekorator__sokefelt__input::-ms-clear {
    width: 0;
    height: 0;
    display: none;
}
.dekorator__sokefelt__ikon {
    position: absolute;
    text-indent: -9999em;
    border: none;
    height: 2.1em;
    width: 2em;
    margin-left: calc(-0.8em - 2em + 1px);
    margin-top: 2px;
    padding-top: 0;
    background: transparent no-repeat 50% 50%;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}
.dekorator__sokefelt__ikon:hover {
    box-shadow: 0 0 0 2px #66cbec;
    outline: none;
    background-color: #fff;
}
.dekorator__sokefelt__ikon:focus {
    box-shadow: 0 0 0 2px #ffbd66;
    outline: none;
    background-color: #fff;
}
.dekorator__sokefelt__ikon:focus ~ input,
.dekorator__sokefelt__ikon:hover ~ input {
    background-color: #fff;
}
.dekorator__kryss--hvit {
    background-image: url('../img/kryss-hvit.svg');
}
.dekorator__kryss--hvit:hover,
.dekorator__kryss--hvit:focus {
    background-image: url('../img/kryss-blaa.svg');
}
.dekorator__kryss--svart {
    background-image: url('../img/kryss-svart.svg');
}
.dekorator__kryss--svart:hover,
.dekorator__kryss--svart:focus {
    background-image: url('../img/kryss-blaa.svg');
}
.dekorator__forstorrelsesglass--hvit {
    background-image: url('../img/forstorrelsesglass-hvit.svg');
}
.dekorator__forstorrelsesglass--hvit:hover,
.dekorator__forstorrelsesglass--hvit:focus {
    background-image: url('../img/forstorrelsesglass-blaa.svg');
}
.dekorator__forstorrelsesglass--svart {
    background-image: url('../img/forstorrelsesglass-svart.svg');
}
.dekorator__forstorrelsesglass--svart:hover,
.dekorator__forstorrelsesglass--svart:focus {
    background-image: url('../img/forstorrelsesglass-blaa.svg');
}
.dekorator__sokefelt__input:hover + .dekorator__forstorrelsesglass--hvit,
.dekorator__sokefelt__input:hover + .dekorator__forstorrelsesglass--svart,
.dekorator__sokefelt__input:focus + .dekorator__forstorrelsesglass--hvit,
.dekorator__sokefelt__input:focus + .dekorator__forstorrelsesglass--svart {
    background-image: url('../img/forstorrelsesglass-blaa.svg');
}
.dekorator__sokefelt__input:hover + .dekorator__kryss--hvit,
.dekorator__sokefelt__input:hover + .dekorator__kryss--svart,
.dekorator__sokefelt__input:focus + .dekorator__kryss--hvit,
.dekorator__sokefelt__input:focus + .dekorator__kryss--svart {
    background-image: url('../img/kryss-blaa.svg');
}
.dekorator__sokefelt__valideringsfeil {
    border: 1px solid #ba3a26;
}
.dekorator__sokefelt__valideringsfeil:focus {
    outline: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
