@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.dekorator .navds-form-field {
  display: block !important;
  font-size: var(--a-font-size-large);
  line-height: var(--a-font-line-height-large);
}

.dekorator .navds-text-field__input {
  outline: 2px solid var(--a-gray-400);
}

.dekorator .navds-select__input {
  outline: 2px solid var(--a-gray-400);
}

.dekorator .navds-text-field__input:focus-visible {
  outline: 2px solid var(--a-orange-500);
}

.dekorator .navds-text-field__input:hover {
  outline: 2px solid var(--a-orange-500);
  border: 1px solid transparent; 
}

.dekorator .navds-select__input:focus-visible {
  outline: 2px solid var(--a-orange-500);
}
.dekorator .navds-select__input:hover {
  outline: 2px solid var(--a-orange-500);
  border: 1px solid transparent; 
}

[data-theme="internarbeidsflatedecorator-theme"]{
  --ac-textfield-bg: var(--a-gray-900);
  --ac-select-bg: var(--a-gray-900);
  --ac-textfield-text: #fff;
  --ac-select-text: #fff;
  --a-text-default: #fff;
  --ac-textfield-placeholder:	var(--a-gray-500);
}