@import url('node_modules:@navikt/ds-css') scope(.dekorator);
@import '@navikt/ds-css/dist/global/tokens.css';
@import 'tailwindcss' prefix(dr);

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*
 * Tailwind preflight styles set margin: 0 on all elements. This breaks dialogs auto-centering so we
 * add it back.
 */
@layer base {
  dialog {
    margin: auto;
  }
}

[data-theme='internarbeidsflatedecorator-theme'] {
  --ac-select-bg: var(--a-gray-900);
  --ac-select-text: #fff;
  --ac-select-border: var(--a-gray-500);
  --ac-select-hover-border: var(--a-orange-500);
  --ac-select-active-border: var(--a-orange-500);

  --ac-textfield-border: var(--a-gray-500);
  --ac-textfield-hover-border: var(--a-orange-500);
  --ac-textfield-active-border: var(--a-orange-500);

  --ac-search-button-border: var(--a-gray-500);
  --ac-search-button-border-hover: var(--a-orange-500);

  --a-text-default: #fff;
  --ac-textfield-placeholder: var(--a-gray-500);
  --ac-button-tertiary-neutral-text: var(--a-gray-900);
  --a-shadow-focus-inverted: 0 0 0 3px var(--a-orange-500);
}
